/*
Green	8bc53f
Blue 00adee
Red eb008b
Orange f6921e
*/
@font-face {
  font-family: "Dhurjati";
  font-style: normal;
  font-weight: 400;
  src: local("Dhurjati"), url(/images/Dhurjati-Regular.ttf) format("truetype");
}
html {
  background: #eee;
}

body {
  margin: 0 auto;
  padding: 0 0 0 0;
}

main {
  margin: 1em;
}

body, button {
  font-family: sans-serif;
  font-size: 13pt;
}

h1, h2, h3 {
  font-family: "Dhurjati";
  font-weight: normal;
  line-height: 1em;
  padding: 0;
  margin: 0 0 6pt 0;
}

h1 div, h2 div, h3 div {
  font-family: sans-serif;
}

header {
  background: #fff;
  box-shadow: #ccc 0 -100px 20px 100px;
}

#mainpanel {
  padding: 5px 1em;
  line-height: 1em;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: space-between;
}

#mainpanel > * {
  margin: 5px;
}

#mainpanel a {
  color: #000;
}

#mainpanel a:hover {
  color: #00adee;
}

.grow {
  flex-grow: 1;
}

.table {
  display: grid;
  position: relative;
  text-align: left;
  border-collapse: collapse;
}
.table .header {
  position: sticky;
  top: 0;
  background: #fc0;
  z-index: 1;
}
.table .header,
.table .rows,
.table form {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: subgrid;
}

#tracked.table {
  grid-template-columns: auto 1fr auto 1fr auto auto;
}

#tracked.table form #delete {
  display: none;
}

#rules.table {
  grid-template-columns: auto 1fr auto 1fr auto auto;
}

select:has(option[value=allow]:checked), option[value=allow] {
  background: #cfc;
}

select:has(option[value=block]:checked), option[value=block] {
  background: #fcc;
}

/*************************************************/
input[type=checkbox] {
  width: 1.4em;
  height: 1.4em;
  margin: 0;
  padding: 0;
  position: relative;
}

select {
  background: transparent;
  padding: 2pt;
}

.table input[type=text],
.table textarea,
.table select {
  background: transparent;
  border: 1px solid transparent;
}
.table textarea {
  height: 5em;
}
.table input[type=text] {
  padding: 2pt 5pt;
}
.table input[type=text].color {
  width: 5em;
}
.table form {
  border: 1px solid #000;
}
.table form:hover {
  background: #ccc;
  border: 1px solid #000;
}
.table form:hover input[type=text],
.table form:hover textarea,
.table form:hover select {
  border: 1px solid gray;
  background: #fff !important;
}

.button {
  background-color: #fff;
  background-color: #adf;
  border-radius: 3px;
  border: 0;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  color: #000;
  text-decoration: none;
  cursor: pointer;
  padding: 3pt 20pt;
  margin: 2pt;
}
.button:hover {
  background-color: #8cf;
}

button.danger {
  cursor: pointer;
  background-color: #fff;
  color: #f00;
  border: 1px solid #f00;
}
button.danger svg {
  fill: #f00;
}
button.danger:hover {
  background-color: #f24537;
  color: #fff;
  border-color: #fff;
}
button.danger:hover svg {
  fill: #fff;
}

.hidden {
  display: none;
}

#popupBody {
  background: #fff;
  box-shadow: #fff 0 0 3px inset;
  width: 750px;
  max-width: 100%;
}
