/*
Green	8bc53f
Blue 00adee
Red eb008b
Orange f6921e
*/

body{
	background: #fff url(images/panel.png) repeat-x;
	background-position: 0 -35px; 
	font-family: sans-serif;
	font-size: 13pt;

	margin: 0 auto;
	padding: 0 0 0 1em;
}

.popupBody{
	background: #fff;
	min-width: 600px;
	padding: 0 1em 1em 1em;
}
.popupBody h2 {
	clear: left;
	margin: 5pt 0 0 0;
}

.errorList{
	background: #f88;
	border: 2px solid #000;
	position: absolute;
	margin: 1em;
	padding: 1em;
	z-index: 9999;
}
.errorList>*{
	margin: 3px 0 0 0;
	padding: 3px;
	background: #fff;
	border: 1px solid #444;
	white-space: pre;
}

#popupMenu{
	height: 40px;
	border-collapse: separate;
	border-spacing: 5px;
	float: right;
}

#mainpanel{
	height: 80px;
	padding-top: 10px;
	color: #fff;
	line-height: 1em;
}
#mainpanel>*{
	display: inline-block;
	vertical-align: bottom;
}

#mainpanel a {
	color:#fff;
}
#mainpanel a:hover {
	color:#00adee;
}
#mainpanel .button{
	font-size: 14pt;
	font-weight: normal;
}
#mainpanel .title{
	float: right;
}

fieldset{
	border: 0;
	padding: 0;
	margin: 0;
}

.columns>*{
	float:left;
	padding: 1em;
}
#actionsTab{
	clear:both;
}
	#actions>*>*{
		padding: 5px 0;
	}
.filtersTab{
	float:left;
	margin-right: 2em;
}


.defaultAction input[type="radio"] {display:none;}

.defaultAction label
{
    display:inline-block;
    padding:4px 11px;
    color: #000;
}

.defaultAction input[type="radio"]:checked + label
{ 
    border: 4px solid white;
}

#filters ul{
	list-style-type: none;
	clear: both;
}
#filters li{padding: 0 0.5em 0 1em;}
#filters li a,
#filters h3 a
{
	opacity: 0.5;color: #ddd;
	float:right;
}
#filters li:hover a,
#filters h3:hover a{opacity: 1;color: #00f;}

/* Table */
.table{
	display: table;
} 
.table>*{display: table-row;}
.table>*>*{display: table-cell;} 

input[type="checkbox"] {
	width: 18px;
	height: 18px;
	background: #fff;
	border: 1px solid #000;
	margin: 0 0 0 1em;
	padding: 0;
	position: relative;
	vertical-align: middle;
}

select
{
	background: transparent;
	padding: 2pt 5pt;
}
.table form:hover select
{
	background: #fff;
}

.header>*
{
	padding: 2pt 5pt;
}

.table input[type="text"]{
	background: transparent;
	border: 1px solid transparent;
	width: 15em;
	padding: 2pt 5pt;
}
.table form:hover input[type="text"]{
	border: 1px solid gray;
	background: #fff;
}

.column{
	width: 45%;
	margin: 0 3% 0 0;
	float:left;
}

.button {
	background-color:#fff;
	border-radius: 3px;
	border: 1px solid #337fed;
	color:#000 !important;
	text-decoration: none;
	cursor: pointer;
	padding: 2pt 3pt;
	margin: 2pt;
}
.button:hover{
	background-color:#8cf;
	border-radius: 1px;
}
.button.active,
#mainpanel .active {
	background-color:#7cf;
}
#mainpanel .button{
	padding: 3pt 5pt;
	margin: 5pt 0 0 0;
}
.table .button{
	padding: 1pt 3pt;
	margin: 0;
}

.dangerButton {
	cursor:pointer;
	background-color:#fff;
	color: #f00;
	border: 1px solid #f00;
}
.dangerButton:hover {
	background-color:#f24537;
	color: #fff;
	border: 1px solid #fff;
}

/* Thanks to http://www.menucool.com/tooltip/css-tooltip */
.tooltip {
	outline:none;
	text-decoration: underline dotted gray;
	cursor: help;
	position:relative;
}
.tooltip:hover {text-decoration:none;} 
.tooltip div
{
	z-index:10;
	display:none;
	padding:14px 20px;
	width:300px;

	line-height:16px;
	font-size: 1rem;
	font-weight: normal;
}
.tooltip:hover div
{
	display:inline;
	position:absolute;
	bottom: 2em;
	left: 0;
	color:#111;
	border:1px solid #DCA;
	background:#fffAF0;
}
.popupBody .tooltip:hover div
{
	bottom: auto;
	top: 1em;
	left: auto;
	right: 0;
}
.popupBody .tooltip-left:hover div
{
	bottom: auto;
	top: 1em;
	left: 0;
	right: auto;
}

.tooltip div
{
	border-radius:4px;
	box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
}

code
{
	background: #ccc;
	display: block;
}
dt
{
	font-weight: bold;
}