/*
Green	8bc53f
Blue 00adee
Red eb008b
Orange f6921e
*/

@font-face {
    font-family: 'Dhurjati';
    font-style: normal;
    font-weight: 400;
    src: local('Dhurjati'), url(/images/Dhurjati-Regular.ttf) format('truetype');
}

html {
    background: #eee;
}

body {
    font-family: sans-serif;
    font-size: 13pt;
    margin: 0 auto;
    padding: 0 0 0 0;
}

h1, h2, h3 {
    font-family: 'Dhurjati';
    font-weight: normal;
    line-height: 1em;
    padding: 0;
    margin: 0 0 6pt 0;
}

    h1 div, h2 div, h3 div {
        font-family: sans-serif;
    }

#popupBody {
    min-width: 600px;
    padding: 0;
    box-shadow: #fff 0 0 3px inset;
}

    #popupBody h2 {
        clear: left;
        margin: 5pt 0 0 0;
    }

#logo {
    margin: 1em 0 0 0;
    text-align: center;
    font-family: 'Dhurjati';
    font-size: 30pt;
}

    #logo a {
        display: block;
        color: #ccc;
        text-decoration: none;
        padding: 0 0 1em 0;
    }

        #logo a:hover {
            color: #8bc53f;
            text-decoration: underline;
        }


.errorList {
    background: #f88;
    border: 2px solid #000;
    position: absolute;
    top: 5em;
    margin: 1em;
    padding: 1em;
    z-index: 9999;
}

    .errorList > * {
        margin: 3px 0 0 0;
        padding: 3px;
        background: #fff;
        border: 1px solid #444;
        white-space: pre;
    }

#popupMenu {
    padding: 3px;
    margin-bottom: 1em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.filler {
    flex-grow: 1;
}

#popupBody .table {
    width: 100%;
}

header {
    background: #fff;
    box-shadow: #00adee 0 -100px 20px 100px;
}

#mainpanel {
    padding: 5px 9px 5px 1em;
    line-height: 1em;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: flex-end;
    align-content: space-between;
}

    #mainpanel > * {
        align-self: flex-end;
        margin: 0 5px 0 0;
    }

    #mainpanel .title {
        order: 50;
        color: #8bc53f;
        text-decoration: none;
        font-family: 'Dhurjati';
        font-size: 24pt;
        align-self: center;
        margin: -4px 0 0 0;
    }

    #mainpanel a {
        color: #000;
    }

        #mainpanel a:hover {
            color: #00adee;
        }

fieldset {
    border: 0;
    padding: 0;
    margin: 0 0 1em 0;
}

    fieldset:last-child {
        margin: 0;
    }

label {
    display: inline-block;
    padding: 4px 11px;
}

    label:hover {
        background-color: #cfc;
    }

.columns {
    margin: 1em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

    .columns > * {
        display: inline-block;
        margin: 0 2em 0 0;
        padding: 0.5em 1em 1em 1em;
        vertical-align: top;
    }

        .columns > *:last-child {
            margin: 0;
        }

.columns-wrap {
    flex-wrap: wrap;
}

.grow {
    flex-grow: 1;
}

.box {
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: #ccc 3px 3px 5px;
}

.main {
    display: inline-block;
}

.main {
    position: relative;
    margin: 0 1em 1em 0;
    padding: 1em;
}

    .main .table {
        margin: 0 -1em -1em -1em;
    }

#filters ul {
    list-style-type: none;
    clear: both;
}

#filters li {
    padding: 0 0.5em 0 1em;
}

    #filters li a,
    #filters h3 a {
        opacity: 0.5;
        color: #ddd;
        float: right;
    }

    #filters li:hover a,
    #filters h3:hover a {
        opacity: 1;
        color: #00f;
    }

/* Table */
.table {
    display: table;
    border-collapse: separate;
    border-spacing: 0 1px;
    width: 100%;
}

    .table > * {
        display: table-row;
        padding: 0 1em;
    }

        .table > * > * {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
        }

#actions.table {
    background: #ccc;
}

input[type="checkbox"] {
    width: 1.4em;
    height: 1.4em;
    margin: 0;
    padding: 0;
    position: relative;
}

select {
    background: transparent;
    padding: 2pt;
}

.header > * {
    padding: 2pt 5pt;
}

.table inputx,
.table input[type="text"],
.table textarea,
.table select {
    background: transparent;
    border: 1px solid transparent;
}

.table input[type="text"] {
    width: 15em;
    padding: 2pt 5pt;
}

    .table input[type="text"].color {
        width: 5em;
    }

.table form:hover input[type="text"],
.table form:hover textarea,
.table form:hover select {
    border: 1px solid gray;
    background: #fff;
}

.button {
    background-color: #fff;
    background-color: #adf;
    border-radius: 3px;
    border: 0;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    color: #000;
    text-decoration: none;
    cursor: pointer;
    padding: 3pt 20pt;
    margin: 2pt;
}

    .button:hover {
        background-color: #8cf;
    }

.button-left {
    margin-left: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.button-bottom {
    margin-bottom: 0;
    border-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.button-top {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.button.active {
    background-color: #6af;
    color: #fff !important;
}

.table .button {
    padding: 2pt 5pt;
    margin: 2pt;
}

.dangerButton {
    cursor: pointer;
    background-color: #fff;
    color: #f00;
    border: 1px solid #f00;
}

    .dangerButton:hover {
        background-color: #f24537;
        color: #fff;
        border: 1px solid #fff;
    }

/* Thanks to http://www.menucool.com/tooltip/css-tooltip */
.tooltip {
    outline: none;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: gray;
    cursor: help;
    position: relative;
    text-align: left;
}

    .tooltip > * {
        z-index: 10;
        display: none;
        position: absolute;
        bottom: 2em;
        left: 0;
        color: #111;
        border: 1px solid #DCA;
        background: #fffAF0;
        padding: 0 5px 5px 5px;
        width: 300px;
        font-size: 1rem;
        font-weight: normal;
        border-radius: 4px;
        box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
    }

    .tooltip h1,
    .tooltip h2 {
        margin: 0;
    }

    .tooltip p {
        margin: 0 0 1em 0;
    }

    .tooltip:hover {
        text-decoration: none;
    }

        .tooltip:hover > * {
            display: inline;
        }

.tooltip-below:hover > * {
    bottom: auto;
    top: 2em;
    left: 0;
    right: auto;
}

.tooltip-link {
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-color: inherit;
    cursor: hand;
}


code {
    background: #ccc;
    display: block;
}

dt {
    font-weight: bold;
}


.exportedColumn {
    width: 40%;
}

    .exportedColumn textarea {
        width: 100%;
        height: 40em;
    }

#syncUrl {
    width: 100%;
}

#syncNegotiatorUrlChange {
    float: right;
    margin: 0;
}

#syncNegotiatorNow {
    width: 100%;
    margin: 0;
}

#syncNegotiatorStatus {
    clear: both;
    background: #eee;
    padding: 0.5em;
    margin: 1em 0 0 0;
    box-shadow: #ccc 3px 3px 5px inset;
    border: 1px solid #ccc;
    min-width: 250px;
}

#addActionForm {
    position: absolute;
    right: 1em;
    top: 1em;
}

.right {
    float: right;
}
